/*
0-600px     : Phone
600-900px   : Tablet Portrait
900-1200px  : Tablet Landscape
1200-1800px : Normal Styles activation
1800px +    : Big Desktop

--brekapoint types
--phone
--tab-port
--tab-land
--big-desktop

1em : 16px

ORDER: Base > Typography > general layout > grid > page layout > components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 132.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in;
    /*animation-delay: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in;*/ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn-primary {
  background-color: red; }

.card__item {
  width: max-content;
  border: none;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem; }
  .card__item--top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .card__item--currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.7rem;
    width: 90px; }
  .card__item--calling-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: inherit;
    font-size: 1.25rem;
    width: 90px;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.7rem; }
  .card__item--image img {
    height: 10rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem; }
  .card__item--title {
    text-align: center; }
  .card__item--capital {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.7rem; }
  .card__item--bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .card__item--region {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.7rem;
    width: 90px; }
  .card__item--language {
    text-align: center;
    width: fit-content;
    word-wrap: break-word;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.7rem;
    width: 90px; }
  .card__item--btn button {
    border: none;
    padding: 1rem;
    font-family: inherit;
    border-radius: 0.7rem;
    width: 100%; }

.section-footer {
  background-color: #ddd; }
  .section-footer .content {
    text-align: center; }

.nav {
  background-color: #4ba7aa; }
  .nav .flex__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
    width: 100%; }
    .nav .flex__container--logo {
      margin: 1rem;
      padding: 1rem; }
    .nav .flex__container--links {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .nav .flex__container--links .all {
        cursor: pointer;
        margin-left: 2rem;
        margin-right: 2rem; }
      .nav .flex__container--links .about {
        cursor: pointer;
        margin-left: 2rem;
        margin-right: 2rem; }

.section-search {
  height: 100vh;
  width: auto; }
  .section-search .search__content {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-search .search__content--title {
      font-size: 6rem;
      padding-bottom: 3rem; }
    .section-search .search__content--input input {
      height: 3rem;
      font-family: inherit;
      font-size: 3rem;
      text-align: center;
      border-top: none;
      border-left: none;
      border-right: none; }
    .section-search .search__content--input input:focus {
      outline: none; }

.section-all .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem; }
