.section-search {
  height: 100vh;
  width: auto;

  .search__content {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      font-size: 6rem;
      padding-bottom: 3rem;
    }

    &--input {
      input {
        height: 3rem;
        font-family: inherit;
        font-size: 3rem;
        text-align: center;
        border-top: none;
        border-left: none;
        border-right: none;
      }

      input:focus {
        outline: none;
      }
    }
  }
}
