.section-all {
  .grid {
    display: grid;
    padding-left: $xl-paddings;
    padding-right: $xl-paddings;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}
