@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.margin-extra {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.gutter-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-row {
  padding-bottom: 0.5rem;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem 0;
}

.country-name {
  text-align: center;
  font-size: 1.4rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  min-height: 0.5rem;
  width: 100px;
  border: 2px solid #464646;
}

.card-img-container {
  width: 100%;
  height: 12rem;
}

.country-calling-code-title {
  color: #878787;
}
.country-capital-title {
  color: #878787;
}
.country-region-title {
  color: #878787;
}

.see-more-btn {
  width: 100%;
  margin: 0.2rem;
  border: none;
  outline: none;
  height: 2rem;
  color: white;
  background-color: black;
}

.see-more-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.basic-col {
}
.additional-col {
}

.row-col {
  width: 100%;
}

.country-title {
  font-size: 2rem;
}

.country-flag {
  width: 80%;
  height: auto;
}

.additional-col-item {
}

.additional-row {
  width: 100%;
}

.top-level-domain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;

  text-align: center;
}

.alpha-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.calling-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.capital-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.region-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.sub-region-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.population-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.demonym-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.gini-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.alt-spellings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.numeric-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.timezones-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.borders-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.currencies-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.languages-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.translations-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.regional-blocks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.title {
  color: #878787;
  font-size: 1rem;
}

.basic-info-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.7rem;
  margin: 0.2rem;
  width: auto;
}
