@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.margin-extra {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
  min-height: 90vh;
}

@media only screen and (min-width: 1599px) {
  .margin-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .country-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1199px) {
  .margin-extra {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .country-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .basic-col {
    display: flex;
    justify-content: center;
  }

  .info-title {
    display: none;
  }

  .basic-info-title {
    font-size: 1.5rem;
    text-align: center;
    display: block !important;
  }

  .empty-search-message-container {
    width: 90% !important;
  }

  .countries-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90% !important;
  }
}

.basic-info-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  display: block !important;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media only screen and (max-width: 991px) {
  .margin-extra {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .country-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .basic-col {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .margin-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .country-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .basic-col {
    display: flex;
    justify-content: center;
  }

  .countries-main-title {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .margin-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .country-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .basic-col {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 0.7rem !important;
  }

  .top-level-domain-container {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 480px) {
  .countries-main-title {
    font-size: 3rem !important;
  }

  .countries-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90% !important;
  }

  .countries-sub-title {
    font-size: 0.6rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .ant-alert-message {
    font-size: 0.6rem;
  }

  .ant-alert-error {
    height: 2rem;
  }

  .about-description {
    font-size: 0.6rem;
    text-align: center;
    margin: 0 0.2rem;
  }

  .brand-title {
    display: none !important;
  }
}

.gutter-row {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.title-row {
  padding-bottom: 0.5rem;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem 0;
}

.country-name {
  text-align: center;
  font-size: 1.4rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  min-height: 0.5rem;
  width: 100px;
  border: 2px solid #464646;
}

.card-img-container {
  width: 100%;
  height: 12rem;
}

.country-calling-code-title {
  color: #878787;
}
.country-capital-title {
  color: #878787;
}
.country-region-title {
  color: #878787;
}

.github-logo {
  cursor: pointer;
}

.see-more-btn {
  width: 100%;
  margin: 0.2rem;
  border: none;
  outline: none;
  height: 2rem;
  color: white;
  background-color: black;
}

.see-more-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.row-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.country-title {
  text-align: center;
  font-size: 2rem;
}

.country-flag {
  border: 2px solid black;
  padding: 0.5rem;
  width: 80%;
  height: auto;
}

.flag-caption {
  margin-top: 0.5rem;
}

.additional-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.additional-row {
  width: 100%;
}

.info-title {
  text-align: center;
  font-size: 2rem;
}

.top-level-domain-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;

  text-align: center;
}

.alpha-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.calling-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.capital-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.region-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.sub-region-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.population-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.demonym-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.gini-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.alt-spellings-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.numeric-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.timezones-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.borders-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.currencies-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.languages-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.translations-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.regional-blocks-container {
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  height: calc(100% - 0.4rem);
}

.title {
  color: #878787;
  font-size: 1rem;
}

.more-info-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

#mapid {
  height: 180px;
  width: 100%;
}

.map-tooltip {
  font-family: 'inter', sans-serif;
}

.pop-up {
  font-family: 'inter', sans-serif;
}

.pop-up-title {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 2px solid black;
  margin: 0.2rem 0;
}

.pop-up-population-title {
  text-align: center;
}

.pop-up-population {
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.pop-up-area-title {
  text-align: center;
}

.pop-up-area {
  text-align: center;
  font-weight: 600;
}

.home-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100% !important;
}

.countries-main-title {
  font-size: 5rem;
}

.countries-sub-title {
  text-align: center;
  word-wrap: break-word;
}

.countries-main-input {
  width: 100%;
}

.countries-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.search-error-container {
  margin: 0.5rem;
  width: 40%;
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-container-text {
  font-size: 18px;
}

.empty-search-message-container {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 50%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-image {
  height: 10rem;
}

.about-title {
  margin: 0.4rem 0;
  font-size: 2rem;
}

.about-description {
  margin: 0.4rem 0;
}

.about-version {
  font-size: 1rem;
  margin: 0.4rem 0;
}

.translation {
  text-align: left;
}

.translation-col {
  background-color: #e4e4e4;
  margin: 0.2rem;
}

.translation-fullname {
  color: #878787;
  display: flex;
  justify-content: center;
}

.translation-translation {
  display: flex;
  justify-content: center;
}

.timezones-col {
  margin: 0.2rem;
  background-color: #e4e4e4;
}

.timezones-row {
  display: flex;
  width: 100% !important;
  justify-content: center;
}

.borders-row {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.border-col {
  margin: 0.2rem;
  width: 100% !important;
  background-color: #e4e4e4;
}

.regional-bloc-col {
  margin: 0.2rem;
  background-color: #e4e4e4;
}

.alt-spelling-col {
  margin: 0.2rem;
  width: 100% !important;
  background-color: #e4e4e4;
}

.currency-col {
  margin: 0.2rem;
  background-color: #e4e4e4;
}

.languages-col {
  background-color: #e4e4e4;
}

.border-fullname {
  width: 100% !important;
  margin: 0.2rem;
}
